body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rectangle {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
}

.idcard-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.box-color {
  height: 80;
  display: flex;

  justify-content: center;
}
